@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

:root {
  --color-primary-strongCyan: hsl(172, 67%, 45%);

  --color-neutral-veryDarkCyan: hsl(183, 100%, 15%);
  --color-neutral-darkGrayishCyan: hsl(186, 14%, 43%);
  --color-neutral-grayishCyan: hsl(184, 14%, 56%);
  --color-neutral-lightGrayishCyan: hsl(185, 41%, 84%);
  --color-neutral-veryLightGrayishCyan: hsl(189, 41%, 97%);
  --color-neutral-white: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  background-color: var(--color-neutral-lightGrayishCyan);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  word-wrap: break-word;

  width: 11rem;
  margin: 4rem auto;

  color: var(--color-neutral-darkGrayishCyan);
}

main {
  display: grid;
  gap: 4rem;

  max-width: 37.5rem;
  width: 100%;

  padding: 2.4rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  background-color: var(--color-neutral-white);
}

button {
  font-family: "Space Mono", monospace;
  font-size: 1.8rem;
  font-weight: 700;

  border: none;
  color: var(--color-neutral-veryLightGrayishCyan);
  background-color: var(--color-neutral-veryDarkCyan);
  border-radius: 0.5rem;
  padding: 0.8rem;
  cursor: pointer;
}

input {
  font-family: "Space Mono", monospace;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: right;

  height: 3.5rem;

  border: none;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
  background-color: var(--color-neutral-veryLightGrayishCyan);
}

input:focus {
  outline: 0.1rem solid var(--color-neutral-grayishCyan);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.form__bill,
.form__people {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.form__tips {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 1.4rem;
}

.form__tip.selected {
  color: var(--color-neutral-veryDarkCyan);
  background-color: var(--color-primary-strongCyan);
}

.form__label {
  font-size: 1.4rem;
  color: var(--color-neutral-darkGrayishCyan);
}

.form__tips .form__label {
  grid-column: 1 / -1;
}

#custom-tip {
  width: 100%;
  height: 100%;
  padding: 0.4rem;
  text-align: center;
}

#bill {
  background-image: url(../public/icon-dollar.svg);
}

#people {
  background-image: url(../public/icon-person.svg);
}

#bill,
#people {
  background-repeat: no-repeat;
  background-position: 1.5rem center;
}

.result {
  display: grid;
  gap: 1.6rem;

  background-color: var(--color-neutral-veryDarkCyan);
  padding: 2.2rem;
  padding-top: 3.2rem;
  border-radius: 0.8rem;
}

.result__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result__title {
  display: flex;
  flex-direction: column;

  font-size: 1.2rem;
  color: var(--color-neutral-veryLightGrayishCyan);
}

.result__title > span {
  font-size: 1rem;
  color: var(--color-neutral-darkGrayishCyan);
}

.result__value {
  position: relative;
  font-size: 2.4rem;
  color: var(--color-primary-strongCyan);
}

.result__value::before {
  position: absolute;
  content: "$";
  left: -1.5rem;
}

.result__reset {
  width: 100%;
  text-transform: uppercase;
  color: var(--color-neutral-veryDarkCyan);
  background-color: var(--color-primary-strongCyan);
}

@media only screen and (min-width: 1440px) {
  main {
    max-width: 80rem;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);

    border-radius: 2rem;
  }

  .form__tips {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .form__tip,
  .result__reset {
    transition: all 0.25s;
  }

  .form__tip:hover,
  .result__reset:hover {
    color: var(--color-neutral-veryDarkCyan);
    background-color: var(--color-neutral-lightGrayishCyan);
  }

  .result {
    padding: 2.8rem;
    grid-template-rows: repeat(2, max-content);
  }

  .result__reset {
    align-self: end;
  }

  .result__title {
    font-size: 1.4rem;
  }

  .result__title > span {
    font-size: 1.2rem;
  }

  .result__value {
    font-size: 2.8rem;
  }
}
